.carousal-wrapper {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  .item-container {
    width: 30vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    img {
      width: 30vw;
      height: 30vw;
    }
    p {
      font-size: 15px;
      font-style: italic;
      font-weight: 300;
    }
    h {
      font-size: 10px;
    }
  }
  .slider-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.5vw;
    width: 30vw;
    .carousal-index {
      display: flex;
      justify-content: space-around;
      gap: 2vw;
    }
  }
}
